/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hue-blue {
  color: #287EFF;
}

body {
  background-color: #212529;
  font-family: "Comfortaa", cursive;
  color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  .mode-text {
    fill: #fff;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
  .mode-text {
    fill: #212529;
  }
  .hamburger-menu > * {
    background: #212529;
  }
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: unset;
  position: relative;
  padding-right: 1em;
}
header .nav > *:not(.hamburger-menu) {
  padding: 1em;
}
header .nav > ul {
  display: flex;
  list-style-type: none;
}
header .nav > ul li a {
  text-decoration: none;
  color: rgba(255, 255, 244, 0.5);
}
header .nav > ul .no-mobile-display {
  display: none;
}
header .nav .logo-div {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 40%;
  bottom: 1.3em;
}
header .nav .logo-div a svg {
  width: 85px;
}
header .nav .nav_list {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  background-color: #212529;
  transition: transform 200ms;
  transform: translateX(100%);
  z-index: 777;
}
header .nav .nav_list > *:not(.theme-li) {
  padding: 1em;
  cursor: pointer;
  transition: all 350ms;
}
header .nav .nav_list > *:not(.theme-li):hover {
  background-color: #dee2e6;
}
header .nav .nav_list > *:not(.theme-li):hover a {
  color: #212529 !important;
}
header .nav .nav_list > li:has(a[aria-current=page]) {
  background-color: #dee2e6;
}
header .nav .nav_list > li:has(a[aria-current=page]) a {
  color: #212529 !important;
}
header .nav .nav_list > li a[aria-current=page] {
  color: rgb(255, 255, 255);
}
header .nav .nav_list .margin-auto-top {
  margin-top: 5em;
}
header .nav .two-item-nav_list .github-link a img {
  width: 40px;
}
header .nav .hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  width: 50px;
  cursor: pointer;
}
header .nav .hamburger-menu > * {
  transition: transform 250ms;
  height: 5px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
header .nav .hamburger-menu .line2 {
  width: 25px;
}
header .hero-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
header .hero-section .hero-text-section {
  text-align: center;
  padding: 3em 1.5em;
}
header .hero-section .hero-text-section .role {
  text-transform: uppercase;
}
header .hero-section .hero-text-section .developer-name {
  text-transform: capitalize;
  line-height: 1.1;
  font-size: clamp(2.5rem, 30%, 4rem);
  margin: 0.5em 0;
}
header .hero-section .hero-text-section .developer-text {
  text-transform: capitalize;
  margin: 1.5em 0 2em;
  line-height: 1.5;
  font-weight: 300;
}
header .hero-section .hero-text-section .hero-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
header .hero-section .hero-text-section .hero-btns > .hero-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.6em 2.5em;
  border-radius: 40px;
}
header .hero-section .hero-text-section .hero-btns .hero-link:first-of-type {
  background-color: #287EFF;
  border: 2px solid #287EFF;
}
header .hero-section .hero-text-section .hero-btns .hero-link:last-of-type {
  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}
header .hero-section .hero-text-section .hero-btns .hero-link:last-of-type svg {
  display: inline-block;
  width: 15px;
  fill: #CED4DA;
}
header .hero-section .hero-text-section .scroll-down {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
}
header .hero-section .hero-text-section .scroll-down svg {
  animation: glideSortof 1s infinite alternate-reverse both;
  width: 30px;
}
header .hero-section .hero-text-section .scroll-down svg path {
  fill: rgb(255, 255, 255);
}
@keyframes glideSortof {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(7px);
  }
}
header .hero-section .hero-img-circles img.p-absolute {
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

.hamburger-menu.active {
  z-index: 888;
}
.hamburger-menu.active .line1 {
  transform: rotate(0.1turn) translateY(7px);
}
.hamburger-menu.active .line3 {
  transform: rotate(-0.1turn) translateY(-7px);
}
.hamburger-menu.active .line2 {
  display: none;
}

.nav ul.show {
  transform: translateX(0%);
  box-shadow: -2px 0 20px rgba(40, 126, 255, 0.3);
}
.nav ul.show .theme-li {
  margin-inline: 1em;
}
.nav ul.show .theme-li .theme-btn {
  border: 2px solid #287EFF;
  padding: 0.5em 4em;
  text-align: center;
  background-color: #287EFF;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.nav ul.show .theme-li.margin-auto-top {
  margin-block: auto 3em;
}/*# sourceMappingURL=style.css.map */